<div class="news-table">
  <div class="header d-flex justify-content-between mb-3">
    <div class="left">
      <div class="title-3">Danh sách tin tức</div>
    </div>
    <div class="right">
      <input
        [(ngModel)]="keyword"
        (change)="searchNews()"
        (keyup)="searchNews()"
        type="search"
        class="form-control search"
        type="search"
        placeholder="Tìm kiếm theo tên"
      >
      <button
        class="btn btn-light text-secondary"
        (click)="onReload()"
        [disabled]="(loading$ | async)?.table"
      >
        <img src="assets/images/icon/sync.svg" alt="sync">
        <span><i class="fas fa-spinner fa-spin" *ngIf="(loading$ | async)?.table"></i></span>
      </button>
      <button class="btn btn-primary text-white" (click)="onCreate()">
        <img src="assets/images/icon/plus.svg" alt="plus">
        <span class="ms-2">Tạo mới</span>
      </button>
    </div>
  </div>
  <div class="body" *ngIf="!(loading$ | async)?.table; else loading;">
    <div class="card p-0">
      <div class="table-responsive px-3">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" style="width: 50px">#</th>
              <th scope="col">Tên</th>
              <th scope="col">Mô tả</th>
              <th scope="col">Thumbnail</th>
              <th style="width: 60px; text-align: center;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let news of dataSource$ | async; let idx = index;">
              <tr>
                <td>{{idx + 1}}</td>
                <td>{{news.title}}</td>
                <td [innerHTML]="news.description"></td>
                <td>
                  <img *ngIf="news.thumbnail" [src]="news.thumbnail" width="36px" height="36px" />
                </td>
                <td class="d-flex justify-content-end">
                  <div class="btn btn-light" (click)="onEdit(news)">
                    <img src="assets/images/icon/edit.svg" alt="edit">
                  </div>
                  <div class="btn btn-light" (click)="onDelete(news)">
                    <img src="assets/images/icon/remove.svg" alt="delete">
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="right d-flex justify-content-between mt-3">
      <div class="d-flex align-items-center">
        <span class="text-secondary">Show</span>
        <select
          class="form-select border-0 mx-2"
          [value]="(limit$ | async)"
          style="width: 100px"
          (change)="onPageChange()"
        >
          <option [value]="10">10</option>
          <option [value]="20">20</option>
          <option [value]="50">50</option>
          <option [value]="100">100</option>
        </select>
        <span class="text-secondary w-100">of</span>
        <span class="text-secondary w-100 ms-1">{{ total$ | async }}</span>
      </div>
      <pagination
        [boundaryLinks]="true"
        [totalItems]="(total$ | async)!"
        [itemsPerPage]="(limit$ | async)!"
        (pageChanged)="onPageChange($event)"
        [rotate]="false"
        [maxSize]="4"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="First"
        lastText="End"
      ></pagination>
    </div>
  </div>
</div>

<ng-template #loading></ng-template>
