<div class="wrapper">
  <div class="category py-4 px-2" [ngStyle]="{'background-color': show ? 'white' : 'transparent', 'width': show ? '250px' : 'initial'}">
    <div class="category__header">
      <h5 [ngStyle]="{'display': show ? 'block' : 'none'}">Danh mục</h5>
      <div
        type="button" 
        class="category__collapse" 
        (click)="show=!show"
        [ngStyle]="{'margin-left': show ? '8px' : '0px'}"
      >
        {{show ? '<' : '>'}}
      </div>
    </div>
    <div class="category__content mt-3 p-2" [ngStyle]="{'display': show ? 'block' : 'none'}">
      <div class="form-check mt-2" *ngFor="let category of (categories$ | async)">
        <input class="form-check-input" (change)="filterCategory(category._id, $event)" type="checkbox">
        <label class="form-check-label">
          {{category.title}}
        </label>
      </div>
    </div>
  </div>
  <div class="table py-3"><app-news-table></app-news-table></div>
</div>
