.wrapper {
  display: flex;

  .category {
    background-color: white;
    height: 100vh;
    max-height: 100vh;
    max-width: 250px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h5 {
        flex: 1;
        margin-bottom: 0px;
      }
    }
    &__content {
      transition: all .3s linear;
      flex: 1;
      display: flex;
    }
    &__collapse {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: var(--bs-primary);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
    }
  }

  .table {
    flex: 1;
  }
}