.wrapper {
  .content-wrapper {
    .nav {
      display: flex;
      .nav-item {
        .nav-link {
          padding: 15px 14px;
          color: #a4aecf;
          font-weight: bold;
          line-height: 20px;
          &.active {
            color: var(--bs-light);
          }
        }
        &:first-child {
          .nav-link {
            padding-left: 20px;
          }
        }
      }
    }

    .loading {
      background-color: #fff;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }
  }
}
