<div class="wrapper">
  <div class="content-wrapper">
    <div style="height: 50px">
      <app-header>
        <div class="left">
          <ul class="nav">
            <li class="nav-item">
              <a [routerLink]="['/']" routerLinkActive="active" class="nav-link">Tin tức</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/category']" routerLinkActive="active" class="nav-link">Danh mục</a>
            </li>
          </ul>
        </div>
        <div class="right"></div>
      </app-header>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <ng-template #nonBiz>
      <div class="loading">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div>Loading...</div>
      </div>
    </ng-template>
  </div>
</div>
