<div class="main">
  <div class="main__header">
    <div class="left">
      <div class="title-3">Hạng cộng tác viên</div>
    </div>
    <div class="right">
      <button class="btn btn-light btn-lg text-secondary" (click)="getItems()" [disabled]="loading.table">
        <img src="../../../assets/images/icon/sync.svg" alt="plus">
        <span class="ms-2">Reload <i class="fas fa-spinner fa-spin" *ngIf="loading.table"></i></span>
      </button>
      <button class="btn btn-primary btn-lg ms-1 text-white" (click)="showModal()">
        <img src="../../../assets/images/icon/plus.svg" alt="plus">
        <span class="ms-2">Thêm hạng</span>
      </button>
    </div>
  </div>
  <div class="main__body">
    <div class="card p-0">
      <div class="table-responsive px-3">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" style="width: 50px">#</th>
              <th scope="col">Tên</th>
              <th scope="col">Doanh thu</th>
              <th scope="col" class="text-center">Trạng thái</th>
              <th class="text-right" style="width: 60px"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of items; let index = index;">
              <tr>
                <td>
                  {{index +1}}
                </td>
                <td>
                  <div class="d-flex">
                    <img *ngIf="item.icon" [src]="item.icon" height="28px" width="28px" class="rounded me-2">
                    <div>
                      <div class="fw-bold">{{ item.name }}</div>
                      <div>
                        <div class="text-secondary fs-7">
                          {{ item.createdAt | date: "hh:mm dd/MM/yyyy" }}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>{{item.amountSales | mycurrency}}</td>
                <td class="text-center">
                  <img src="./assets/images/icon/{{item.isActive ? 'check' : 'not-check'}}.svg" alt="">
                </td>
                <td class="d-flex justify-content-end">
                  <div class="btn btn-light" (click)="showModal(item)">
                    <img src="../../../assets/images/icon/edit.svg" alt="">
                  </div>
                  <div class="btn btn-light" (click)="delItem(item)">
                    <img src="../../../assets/images/icon/remove.svg" alt="">
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr class="text-center" *ngIf="loading.table">
              <td colspan="4">
                <div class="spinner-grow text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <div>Loading...</div>
              </td>
            </tr>
            <tr class="text-center" *ngIf="!loading.table && !items.length">
              <td colspan="4">
                <div class="text-secondary">Not found</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div bsModal #itemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" *ngIf="form">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">Thêm topping</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="itemModal.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" class="offcanvas-body__form needs-validation"
          [ngClass]="{'was-validated': formSubmitAttempt}">
          <div class="row gutter-small">
            <div class="mb-3 col-sm-12">
              <label for="form-name">Tên</label>
              <input formControlName="name" type="text" class="form-control" id="form-name" placeholder="Tên cấp bậc"
                required />
              <div class="invalid-feedback">
                Vui lòng nhập tiêu đề
              </div>
            </div>
            <div class="mb-3 col-sm-6">
              <label for="form-icon">Icon</label>
              Pending
              <!-- <app-input-upload [url]="form.value.icon" (urlChange)="form.get('icon').setValue($event)"
                inputClass="h-lg" [bodyUpload]="{place: 'collaboratorrank',collaboratorrank: this.form.value.id }">
              </app-input-upload> -->
            </div>
            <div class="mb-3 col-sm-6">
              <label for="form-amountSales">Doanh thu <i class="fas fa-question-circle"
                  tooltip="Mốc doanh thu để đạt hạng này!"></i></label>
              <input formControlName="amountSales" type="text" class="form-control" id="form-amountSales"
                placeholder="Doanh thu" currencyMask />
            </div>
            <div class="mb-3 col-sm-12">
              <label for="form-name">Nội dung</label>
              <app-input-editor [content]="form.value.desc" (contentChange)="form.get('desc')?.setValue($event)">
              </app-input-editor>
            </div>
            <div class="col-sm-12">
              <div class="title fs-12 text-uppercase mb-2">
                Quà tặng khi đạt thứ hạng
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row gutter-small">
                <div class="col-sm-12">
                  <!-- Note -->
                  <div class="alert alert-warning alert-dismissible fade show" #tem role="alert"
                    *ngIf="form.value.gift.discountType === 'PRODUCT'">
                    <strong>Lưu ý: Chiết khấu theo hoa hồng trên mỗi sản phẩm</strong>
                    <ul>
                      <li>1. Doanh thu của CTV trên Đơn hàng sẽ được tính dựa trên tổng số lượng sản phẩm của đơn hàng
                        và
                        áp dụng <strong>Đơn giá</strong> của sản phẩm trên đơn hàng để tính doanh thu cho CTV.</li>
                      <li>2. Trường hợp sản phẩm ảo => doanh thu cho sản phẩm đó = 0</li>
                      <li>3. Trường hợp sản phẩm thật => doanh thu tính theo cấu hình <strong>Hoa Hồng CTV</strong> của
                        sản phẩm. Cộng toàn bộ tiên chiết khấu của từng sản phẩm làm doanh thu.</li>
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                      (click)="tem.classList.remove('d-none')">
                    </button>
                  </div>
                  <div class="alert alert-warning alert-dismissible fade show" #tem role="alert"
                    *ngIf="form.value.gift.discountType === 'PERCENT'">
                    <strong>Lưu ý: Chiết khấu theo % cố định</strong>
                    <ul>
                      <li>1. Doanh thu của CTV trên Đơn hàng có công thức</li>
                      <li><strong>Doanh thu = (Tổng tiền - Thu Ship - Phụ Thu) * (Chiết khấu đơn hàng) / 100</strong>
                      </li>
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                      (click)="tem.classList.add('d-none')">
                    </button>
                  </div>
                </div>
                <div class="mb-3 col-sm-6" formGroupName="gift">
                  <label for="tax-code">Loại </label>
                  <select formControlName="discountType" class="form-control">
                    <option value="PERCENT">Chiết khấu theo % cố định</option>
                    <option value="PRODUCT">Chiết khấu theo hoa hồng trên mỗi sản phẩm</option>
                  </select>
                </div>
                <div class="mb-3 col-sm-6" formGroupName="gift" *ngIf="form.value.gift.discountType === 'PERCENT'">
                  <label for="form-discount">Chiết khấu / 1 đơn hàng</label>
                  <input formControlName="discount" type="text" class="form-control" id="form-discount" placeholder="%"
                    currencyMask
                    [options]="{prefix: '', thousands: ',',precision: 0,max:100, align: 'left', suffix: ''}" />
                </div>
                <div class="mb-3 col-sm-6" formGroupName="gift" *ngIf="form.value.gift.discountType === 'PRODUCT'">
                  <label for="tax-code">Hoa hồng CTV <i class="fas fa-question-circle"
                      tooltip="Tự động chuyển và áp dụng hoa hồng của CTV sang loại bạn lựa chọn khi đạt tới thứ hạng này!"></i></label>
                  Pending
                  <!-- <select formControlName="productPriceCollaborator" class="form-control">
                    <option *ngFor="let item of shop.productPriceCollaborators" [value]="item.id">{{item.name}}</option>
                  </select> -->
                </div>
              </div>
            </div>
          </div>
          <div class="model-handle d-flex justify-content-between align-items-center mt-2">
            <div class="form-check">
              <input formControlName="isActive" type="checkbox" class="form-check-input" id="form-isActive" />
              <label class="form-check-label" for="form-isActive">Kích hoạt</label>
            </div>
            <div>
              <button type="button" class="btn btn-light me-2" style="width: 120px;" (click)="itemModal.hide()">
                Đóng
              </button>
              <button type="button" class="btn btn-neutral text-white" style="width: 120px;" (click)="onSubmit()"
                [disabled]="loading?.submit">
                Lưu
                <i class="fas fa-spinner fa-spin" *ngIf="loading?.submit"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
