.title {
  position: relative;
  padding-left: 6px;
  line-height: 16px;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #fb7809;
    width: 2px;
    height: 100%;
  }
}
