.input-group {
  &-prepend {
    .input-group-text {
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 40px;
      // height: 40px;
      border-radius: 2px;
      img {
        width: 25px;
        height: 25px;
        border-radius: 2px;
      }
    }
  }
  &-append {
    .btn {
      height: 100%;
      padding: 0px 9px;

      svg {
        vertical-align: -2px;
        width: 20px;
      }
    }
  }
}
