<div class="modal-header">
  <h5 class="modal-title" id="my-modal-title">{{this.form.value['_id'] ? 'Cập nhật' : 'Tạo mới'}}</h5>
  <button
    (click)="close()"
    class="btn btn-close"
    data-dismiss="modal"
    aria-label="Close">
  </button>
</div>

<ng-container *ngIf="form.value?._id; else formDetail;">
  <tabset>
    <tab heading="Chi tiết">
      <ng-container *ngTemplateOutlet="formDetail"></ng-container>
    </tab>
    <tab *ngIf="childCategories.length" heading="Danh mục cấp dưới">
      <div class="table-responsive px-3">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col" style="width: 50px">#</th>
              <th scope="col">Tên</th>
              <th scope="col">Mô tả</th>
              <th scope="col">Thumbnail</th>
            </tr>
          </thead>
          <tbody >
            <ng-container *ngFor="let category of childCategories; let idx = index;">
              <tr>
                <td>{{idx + 1}}</td>
                <td>{{category.title}}</td>
                <td [innerHTML]="category.description"></td>
                <td>
                  <img *ngIf="category.thumbnail" [src]="category.thumbnail" width="36px" height="36px" />
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </tab>
  </tabset>
</ng-container>

<ng-template #formDetail>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="row g-2">
        <div class="col-6 mb-2">
          <label for="title">Tên</label>
          <input
            formControlName="title"
            id="title"
            class="form-control"
            type="text"
            name="title"
            placeholder="Tên...">
        </div>
        <div class="col-6 mb-2">
          <label for="thumbnail">Thumbnail</label>
          <app-input-upload
            [url]="form.value.thumbnail"
            (urlChange)="form.get('thumbnail')?.setValue($event)"
            inputClass="h-lg"
            [bodyUpload]="{place: 'categorynews', categorynews: this.form.value._id }">
          </app-input-upload>
        </div>
        <div class="col-6 mb-2">
          <label for="categoryId">Danh mục cấp trên</label>
          <ng-select
            class="ng-select-custom"
            allowClear="true"
            placeholder="Danh mục"
            (selected)="execSelected($event)"
            (typed)="execKeypress($event)"
            *ngIf="loading; else loading;"
            formControlName="parentId"
          >
            <ng-option *ngFor="let category of parentCategories" [value]="category._id">{{category.title}}</ng-option>
          </ng-select>
        </div>
        <div class="mb-3 col-sm-12">
          <label for="form-name">Nội dung</label>
          <app-input-editor
            [content]="form.value.description"
            (contentChange)="form.get('description')?.setValue($event)">
          </app-input-editor>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="mt-3 text-center">
        <button (click)="close()" class="btn btn-light" type="button">Đóng</button>
        <button class="btn btn-primary ms-2 text-white" type="submit">
          {{this.form.value._id ? 'Cập nhật' : 'Tạo mới'}}
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #loading></ng-template>
