<div class="modal-header">
  <h5 class="modal-title"
    id="my-modal-title">
    {{form.value['_id'] ? 'Cập nhật' : 'Tạo mới'}} Tin Tức
  </h5>
  <button
    (click)="close()"
    class="btn btn-close"
    data-dismiss="modal"
    aria-label="Close">
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row g-2">
      <div class="col-6 mb-2">
        <label for="title">Tên</label>
        <input
          formControlName="title"
          id="title"
          class="form-control"
          type="text"
          name="title" placeholder="Tên">
      </div>
      <div class="col-6 mb-2">
        <label>Thumbnail</label>
        <app-input-upload
          [url]="form.value['thumbnail']"
          (urlChange)="form.get('thumbnail')?.setValue($event)"
          inputClass="h-lg"
          [bodyUpload]="{place: 'news', news: form.value.id }">
        </app-input-upload>
      </div>
      <div class="col-6 mb-2">
        <label for="categoryId">Danh mục</label>
        <ng-select
          class="ng-select-custom"
          allowClear="true"
          placeholder="Danh mục"
          (selected)="execSelected($event)"
          (typed)="execKeypress($event)"
          formControlName="categoryId"
        >
          <ng-option *ngFor="let category of (categories$ | async)" [value]="category._id">{{category.title}}</ng-option>
        </ng-select>
      </div>
      <div class="mb-3 col-sm-12">
        <label for="form-name">Nội dung</label>
        <app-input-editor
          [content]="form.value.content"
          (contentChange)="form.get('content')?.setValue($event)">
        </app-input-editor>
      </div>
      <div class="mb-3 col-sm-12">
        <label for="form-name">Mô tả</label>
        <app-input-editor
          [content]="form.value.description"
          (contentChange)="form.get('description')?.setValue($event)">
        </app-input-editor>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mt-3 text-center">
      <button (click)="close()" class="btn btn-light" type="button">Đóng</button>
      <button class="btn btn-primary ms-2 text-white" type="submit">
        {{this.form.value._id ? 'Cập nhật' : 'Tạo mới'}}
      </button>
    </div>
  </div>
</form>
