.navbar {
  padding: 0px 24px;
  background-color: var(--bs-neutral);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .frame-avatar {
    padding: 9px 0 9px 24px;
    margin-left: 20px;
    .avatar {
      cursor: pointer;
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
  }
  .dropdown-menu-right {
    background: rgb(252, 252, 252);
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    border-radius: 8px;
    margin-top: 9px;
    border: none;
    .dropdown-item {
      padding: 10px 16px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
