<div class="navbar">
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="d-flex">
      <smaxapp-logo [bizAlias]="biz.alias" [currentModule]="biz.module" [modules]="biz.modules"
        [quickModules]="biz.user.quickModules" [menuPlacement]="'bottom'"></smaxapp-logo>
      <ng-content select=".left"></ng-content>
    </div>
    <div>
      <div class="d-flex">
        <ng-content select=".right"></ng-content>
        <div class="frame-avatar d-flex align-items-center" *ngIf="user">
          <div class="btn-group" dropdown placement="bottom right">
            <img id="button-alignment" dropdownToggle class="avatar" aria-controls="dropdown-alignment"
              [src]="user!.picture" alt="avatar" />
            <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              aria-labelledby="button-alignment">
              <li role="menuitem" *ngIf="['DEV', 'ADMIN'].includes(user?.role!)">
                <a class="dropdown-item" [routerLink]="'/admin/template'">Quản trị</a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="/user">Thông tin cá nhân</a>
              </li>
              <li role="menuitem" (click)="logout()">
                <a class="dropdown-item" href="#">Đăng xuất</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
